<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianghao.oplog.orm.dao.OpLogInfoMapper">
  <resultMap id="BaseResultMap" type="com.jianghao.oplog.orm.po.OpLogInfo">
    <!--@mbg.generated-->
    <!--@Table op_log_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="op_log_id" jdbcType="INTEGER" property="opLogId" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="table_key_info" jdbcType="VARCHAR" property="tableKeyInfo" />
    <result column="update_info" jdbcType="VARCHAR" property="updateInfo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, op_log_id, `table_name`, table_key_info, update_info, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from op_log_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from op_log_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="com.jianghao.oplog.orm.po.OpLogInfo" >
    <!--@mbg.generated-->
    insert into op_log_info (op_log_id, `table_name`, table_key_info, 
      update_info, create_time)
    values (#{opLogId,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, #{tableKeyInfo,jdbcType=VARCHAR}, 
      #{updateInfo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jianghao.oplog.orm.po.OpLogInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into op_log_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="opLogId != null">
        op_log_id,
      </if>
      <if test="tableName != null">
        `table_name`,
      </if>
      <if test="tableKeyInfo != null">
        table_key_info,
      </if>
      <if test="updateInfo != null">
        update_info,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="opLogId != null">
        #{opLogId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableKeyInfo != null">
        #{tableKeyInfo,jdbcType=VARCHAR},
      </if>
      <if test="updateInfo != null">
        #{updateInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianghao.oplog.orm.po.OpLogInfo">
    <!--@mbg.generated-->
    update op_log_info
    <set>
      <if test="opLogId != null">
        op_log_id = #{opLogId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null">
        `table_name` = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableKeyInfo != null">
        table_key_info = #{tableKeyInfo,jdbcType=VARCHAR},
      </if>
      <if test="updateInfo != null">
        update_info = #{updateInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianghao.oplog.orm.po.OpLogInfo">
    <!--@mbg.generated-->
    update op_log_info
    set op_log_id = #{opLogId,jdbcType=INTEGER},
      `table_name` = #{tableName,jdbcType=VARCHAR},
      table_key_info = #{tableKeyInfo,jdbcType=VARCHAR},
      update_info = #{updateInfo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertListSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    insert into op_log_info (op_log_id, `table_name`, table_key_info, update_info)
    values
    <foreach collection="list" item="item" index="i" separator=",">
       (#{item.opLogId,jdbcType=INTEGER}, #{item.tableName,jdbcType=VARCHAR},
       #{item.tableKeyInfo,jdbcType=VARCHAR},#{item.updateInfo,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>